/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  /* Дублируем переменные для тёмной темы */
    --accent-color: #FF0070;
    --second-color: #DB00FF;
    --black-color: #000028;
    --text-color: #F1B2CE;
    --header-bg-image: url('../images/cover-image-dark.png');
    --page-bg-color: var(--black-color);
    --accent-dark-black-light: var(--accent-color);
    --visible-dark-hidden-light: visible;
}

/* Остальные стили */
.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --accent-color: #FF0070;
    --second-color: #DB00FF;
    --black-color: #000028;
    --text-color: #F1B2CE;
    --header-bg-image: url('../images/cover-image-dark.png');
    --page-bg-color: var(--black-color);
    --accent-dark-black-light: var(--accent-color);
    --visible-dark-hidden-light: visible;
}