/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: url(../images/cover-image-dark.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: flex;
  align-items: end;
  flex-direction: column;
  padding: 10px 10px 65px 10px;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.header::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__rec {
  text-transform: uppercase;
  color: var(--accent-color);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.header__rec::after {
  content: '';
  width: 9px;
  height: 9px;
  margin-right: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu-list {
  width: 70px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 39px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  font-size: 18px;
  color: var(--accent-color);
  background-color: transparent;
  border: 1px solid transparent;
  width: 100%;
  text-align: center;

}

.header__title {
  font-size: 116px;
  color: var(--second-color);
  font-weight: 700;
  line-height: 95.7px;
  text-shadow: 4px 4px 0px var(--accent-color);
  margin-top: 68px;
  align-self: flex-start;
}

.header__subtitle {
  width: 100%;
  max-width: 364px;
  margin-top: 55px;
}

.subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--black-color);
  background-color: var(--accent-color);
}

@media (min-width: 768px) {
  .header {
    padding: 20px 20px 183px 0;
  }

  .header::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu-list {
    margin-top: 146px;
  }

  .header__title {
    margin-top: 177px;
    font-size: 120px;
  }

  .header__subtitle {
    margin-top: 164px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-bottom: 135px;
  }

  .header::before {
    top: 20px;
    right: 20px;
  }

  .header__title {
    margin-top: 291px;
    font-size: 157px;
  }

  .subtitle {
    font-size: 18px;
  }

  .header__subtitle {
    margin-top: 131px;
    max-width: 491px;
  }

  .header__topbar {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding-left: 20px;
  }

  .header__theme-menu {
    margin: auto;
  }

  .header__theme-menu-list {
    width: auto;
    margin-top: 0;
    flex-direction: row;
  }

  .header__theme-menu-button {
    padding: 0 13px;
  }

  .header__rec {
    position: absolute;
  }
}