/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
    background-color: var(--page-bg-color);
    background-attachment: fixed;
    background-image: var(--header-bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.header {
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    align-items: center;
    justify-items: end;
    padding: 10px;
}

.decorated-zone {
    height: 100vh;
    min-height: 668px;
}

.decorated-zone::before,
.decorated-zone::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
}

.decorated-zone::before {
    top: 10px;
    right: 10px;
    border-block-start: 1px solid var(--accent-dark-black-light);
    border-inline-end: 1px solid var(--accent-dark-black-light);
}

.decorated-zone::after {
    bottom: 10px;
    left: 10px;
    border-block-end: 1px solid var(--accent-dark-black-light);
    border-inline-start: 1px solid var(--accent-dark-black-light);
}

.header__rec {
    position: absolute;
    top: 10px;
    right: 20px;
    text-transform: uppercase;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    font-size: 18px;
    visibility: var(--visible-dark-hidden-light);
}

.header__rec::after {
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--accent-color);
    box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
    margin-block-end: 5px;
}

.header__theme-menu-list {
    width: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-button {
    text-transform: lowercase;
    font-size: 18px;
    height: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--accent-dark-black-light);
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.header__theme-menu-button_active {
    border: 1px solid var(--accent-dark-black-light);
    pointer-events: none;
}

.header__theme-menu-button:hover {
    border: 1px solid rgb(from var(--accent-dark-black-light) r g b / .4);
}

.header__theme-menu-button:focus-visible {
    outline: none;
    border: none;
    border-block-end: 1px solid var(--accent-dark-black-light);
}

.header__title {
    font-size: clamp(7.25rem, 0.5625rem + 14.4531vw, 9.8125rem);
    color: var(--second-color);
    font-weight: 700;
    line-height: 96px;
    text-shadow: 4px 4px 0 var(--accent-color);
    justify-self: start;
}

.header__subtitle {
    width: 100%;
    max-width: 364px;
}

.header__subtitle span {
    display: block;
}

.subtitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    color: var(--black-color);
    background-color: var(--accent-color);
}

.section {
    padding: 10px;
    margin-block-start: 31px;
}

.title {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    color: var(--accent-dark-black-light);
}

.text {
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    color: var(--text-color);
}

.link {
    text-decoration: none;
    outline: none;
    text-shadow: 2px 2px 0 var(--accent-color);
    border: 1px solid transparent;
}

.link:hover {
    border-block-end-color: var(--text-color);
}

.link:focus-visible {
    border-color: var(--text-color);
}

.subtitle_light {
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    color: var(--black-color);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-start: 20px;
}

.images {
    margin-block-start: 10px;
    display: grid;
    gap: 10px;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block-start: 30px;
}

.footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    font-weight: 700;
    line-height: 96px;
    color: var(--second-color);
    text-shadow: 2px 2px 0 var(--accent-color);
    align-items: center;
}

@media (min-width: 768px) {
    .header {
        padding: 20px 20px 20px 0;
    }

    .decorated-zone::before {
        top: 20px;
        right: 20px;
    }

    .decorated-zone::after {
        bottom: 20px;
        left: 20px;
    }

    .header__rec {
        top: 20px;
        right: 29px;
    }

    .title {
        width: 100%;
        max-width: 236px;
    }

    .section {
        display: grid;
        padding: 20px;
        margin-block-start: 40px;
        gap: 20px;
    }

    .section.section_two-columns {
        grid-template-columns: auto 1fr;
    }

    .section.section_one-column {
        flex-direction: column;
    }

    .content {
        padding-block-start: 0;
        gap: 20px;
    }

    .images {
        grid-template-columns: repeat(3, 1fr);
        margin-block-start: 0;
        gap: 20px;
    }

    .img__1 {
        grid-column: span 2;
    }

    .img__2 {
        grid-row: span 2;
    }

    .img__3 {
        grid-row: span 2;
    }

    .img__5 {
        grid-column: span 2;
    }

    .footer {
        margin-block-start: 40px;
    }
}

@media (min-width: 1024px) {
    .header {
        padding: 7px 20px 5px 0;
    }

    .header__theme-menu {
        margin: 10px 0 0;
        align-self: start;
        justify-self: center;
        padding-inline-start: 20px;
    }

    .subtitle {
        font-size: 18px;
    }

    .header__subtitle {
        max-width: 491px;
    }

    .header__theme-menu-list {
        width: auto;
        margin-block-start: 0;
        flex-direction: row;
    }

    .header__theme-menu-button {
        padding: 0 13px;
    }

    .title {
        max-width: 315px;
    }

    .article_row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}