/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* Переменные тёмной темы */
  --accent-color: #FF0070;
  --second-color: #DB00FF;
  --black-color: #000028;

}